/* Landing Page CSS */

#login {
    border: 3px black solid;
    padding: 20px;
    width: 100%;
    margin: auto;
}


/* style logo */
#logo {
    border-radius: 3rem;
    -webkit-box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
}


/* styling for footer */
.footer {
    /* background-color: rgb(138, 219, 180); */
    /* background-color: paleturquoise; */
    background-color: rgb(84, 72, 93);
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    opacity: 0.8;
    filter: (opacity=50);
}

/* icons */
.icons {
    display: flex;
    justify-content: center;

}

.icons img {
    margin-left: 20px;
}

/* purple icon */
.icon {
    border-radius: 50%;
}

nav {
    background-color: rgb(84, 72, 93);
}

/* try img6,7,8,9 */
body {
    /* background-image: url(/assets/images/moreImages/img6.jpg)  */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #453481;
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


.bottom-text {
    font-family: 'Roboto', sans-serif;
}

/* animation styling for title */
.title {
    font-family: 'Roboto', sans-serif;
}

.text {
    position: relative;
}

.text span {
    position: absolute;
    /* background-color: #453481; */
    background-color: #D1B000;
    transition: 0.5s;
}

.horizontal {
    width: 100%;
    height: 5px;
}

.horizontal.one {
    top: 0;
    left: 0;
}

.horizontal.two {
    right: 0;
    bottom: 0;
}

.text:hover .horizontal.one {
    width: 0px;
    transform: translateX(-1000px);
}

.text:hover .horizontal.horizontal.two {
    width: 0px;
    transform: translateX(1000px);
}

.vertical {
    height: 0%;
    width: 6px;
}

.vertical.one {
    top: 0;
    left: 0;
    transform: translateX(-0.75rem, -1000px);
}

.vertical.two {
    bottom: 0;
    right: 0;
    transform: translateX(0.75rem, 1000px);
}

.text:hover .vertical.one {
    height: 100%;
    transform: translate(-0.75rem, 0px);

}

.text:hover .vertical.two {
    height: 100%;
    transform: translate(0.75rem, 0px);
}