:root {
    --card-bg: #d4b2ff;
    --card-highlight: #ae93d3;
}

body {
    /* background: url(/assets/images/sf-filler-img.jpeg);
    background-size: cover; */
    background: linear-gradient(0deg, #531755a7 0%, #6ac2f08c 50%, #fff76091 100%);
    cursor: url(https://cdn.custom-cursor.com/db/10520/32/minimal-axolotl-cursor.png), auto !important;
    transition: background-color 0.5s ease;
    margin: 0;
    /* overflow: hidden; */
}

a {
    cursor: url(https://cdn.custom-cursor.com/db/10519/32/minimal-axolotl-pointer.png),
        pointer !important;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: purple;
}

button {
    cursor: url(https://cdn.custom-cursor.com/db/10519/32/minimal-axolotl-pointer.png),
        pointer !important;
}

textarea {
    cursor: url(https://cdn.custom-cursor.com/db/13077/32/cute-cats-in-frogs-hat-pointer.png),
        pointer !important;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

select {
    padding: 10px;
    font-size: 16px;
}

#user-profile-container {
    margin: auto;
}

#display-user-data-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25%;
}
#select-nav{
    background: rgb(170,170,170);
background: linear-gradient(180deg, rgba(170,170,170,0.41360294117647056) 1%, rgba(255,255,255,0.7777485994397759) 14%, rgba(240,240,240,0.6096813725490196) 49%, rgba(218,218,218,0.6376925770308124) 69%, rgba(170,170,170,0.04385504201680668) 100%);
    
}
#profile-background-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.29) 20.31%, rgba(0, 0, 0, 0.50) 48.96%, rgba(0, 0, 0, 0.50) 70.31%);
    backdrop-filter: blur(7.5px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    z-index: -1;
    /* min-height: fit-content; */
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
}

#edit {
    border: none;
    background-color: transparent;
    display: flex;
    font-size: small;
}

#edit-img {
    max-width: 20px;
}

#mood {
    border: none;
    background-color: transparent;
    display: flex;
    font-size: small;
}

#mood-img {
    max-width: 20px;
}

#bestie-title {
    padding-bottom: 100px;
    color: #fff;
}

#whoToFollow {
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.post-content {
    background-color: var(--card-highlight);
}

.user-card {
    background-color: var(--card-bg) !important;
    border-color: purple;
}

.hover {
    a:hover {
        background-color: var(--card-highlight);
    }

    button:hover {
        background-color: var(--card-highlight);
    }
}

.connection:hover {
    background-color: var(--card-highlight);
}

.nav-img {
    width: 40px;
}

.overlay {
    background: linear-gradient(180deg,
            rgba(123, 120, 126, 0.16) 0%,
            rgba(123, 120, 126, 0.35) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2.5px);
    color: white;
    z-index: 1;
    padding: 30px;
}

.change-display-btn {
    background-color: transparent;
    color: purple;
    border: none;
    font-size: 30px;
    font-family: Kadwa;
}

.boxes {
    background-color: var(--card-bg);
    border-radius: 1rem;
    min-height: 30vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    color: var(--card-bg);
    border-style: solid;
    border-width: 1px;
    border-color: purple;
}

/* other users profile cards */
.profile-card {
    position: relative;
    width: 50%;
    /* height: 190px; */
    aspect-ratio: 1 / 1;
    background: #fff;
    transition: 0.5s;
}

.profile-card:hover {
    height: 350px;
    width: 75%;
}

.profile-card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.profile-card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #ce64f3, #ce64f3, #ce64f3, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.profile-card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.profile-card .imgBx {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    /* height: 150px; */
    aspect-ratio: 1 / 1;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    border-radius: 5px;
}

.profile-card:hover .imgBx {
    width: 60%;
    /* height: 250px; */
    aspect-ratio: 1 / 1;
}

.profile-card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #f3d57d, #f3d57d, #f3d57d, transparent);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.profile-card .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.profile-card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.profile-card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.profile-card .content .details {
    /* padding: 40px; */
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.profile-card:hover .content .details {
    transform: translateY(0px);
}

.profile-card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    line-height: 1.2em;
}

.profile-card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}

.profile-card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.profile-card .content .details .data h3 {
    font-size: 1em;
    color: #fff;
    line-height: 1.2em;
    font-weight: 600;
}

.profile-card .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
}

.profile-card .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.profile-card .content .details .actionBtn button:nth-child(1) {
    background: #ce64f3;
}