/* Landing Page CSS */

#login {
    border: 2px black solid;
    padding: 20px;
}


/* style logo */
#logo {
    border-radius: 3rem;
}


/* styling for footer */
.footer {
    /* background-color: rgb(138, 219, 180); */
    /* background-color: paleturquoise; */
    background-color: rgb(84, 72, 93);
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px;
    opacity: 0.8;
    filter: (opacity=50);
}

/* icons */
.icons {
    display: flex;
    justify-content: center;
    
}

.icons img {
    margin-left: 20px;
}