/* Posts Page CSS */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: purple;
}

body {
  background-color: #E9ECEF;
}

.user-card {
    background-color: #C3BEC4;
    border-color: purple;
}